{
    "source": {
        "directories": [
            "src"
        ]
    },
    "excludes": [
    ],
    "timeout": 10,
    "logs": {
        "text": "build\/logs\/humbug.log",
        "json": "build\/logs\/humbug.json"
    }
}
